## Single Server Queue Simulation

### Import library

In [1]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd

### Initialization the functions

In [173]:
class QueueSim:
    def __init__(self, next_time, serv_time, total_cust):
        self.next_time = next_time
        self.serv_time = serv_time
        self.tot_cust = total_cust
        self.arr_time = np.zeros(total_cust, dtype=int)
        self.start_serv = np.zeros(total_cust, dtype=int)
        self.end_serv = np.zeros(total_cust, dtype=int)
        self.waiting_time = np.zeros(total_cust, dtype=int)
        
    def simulation(self):
        for i in range(self.tot_cust):
            #arriveList[i] = dt.datetime.fromtimestamp(time).strftime('%H:%M')

            self.arr_time[i] = self.arr_time[i - 1] + self.next_time[i]
            self.start_serv[i] = max(self.arr_time[i], self.end_serv[i - 1])
            self.end_serv[i] = self.start_serv[i] + self.serv_time[i]
        
        self.waiting_time = self.start_serv - self.arr_time
        
    def simulation_table(self):
        df = pd.DataFrame([self.next_time, self.arr_time, self.waiting_time,
                           self.start_serv, self.serv_time, self.end_serv]).T
        df.columns = ['Next', 'Arrival', 'Waiting', 'Start', 'Service', 'End']
        return df
    
    def queue_table(self):
        time = np.concatenate((self.arr_time, self.end_serv))
        
        act = np.empty(time.shape, dtype='U6')
        act[0:target_cust] = 'ARRIVE'
        act[target_cust: target_cust * 2] = 'LEAVE'
        
        cust_id = np.concatenate((np.arange(0, self.tot_cust, 1), np.arange(0, self.tot_cust, 1)))
        
        df2 = pd.DataFrame([time, cust_id, act]).T.sort_values(by=0).reset_index(drop=True)
        df2.columns = ['Time', 'Customer', 'Activity']
        
        return df2

### Simulation

In [174]:
target_cust = 25
next_arr_time = np.random.normal(25, 3, target_cust).astype(int) * 60
service_time = np.random.normal(23, 5, target_cust).astype(int) * 60

queue1 = QueueSim(next_arr_time, service_time, target_cust)
queue1.simulation()
df = queue1.simulation_table()
df2 = queue1.queue_table()

In [175]:
df

    Next  Arrival  Waiting  Start  Service    End
0   1440     1440        0   1440     1200   2640
1   1740     3180        0   3180     1620   4800
2   1620     4800        0   4800     1320   6120
3   1260     6060       60   6120     1440   7560
4   1380     7440      120   7560     1080   8640
5   1560     9000        0   9000     1680  10680
6   1200    10200      480  10680     1020  11700
7   2040    12240        0  12240     1380  13620
8   1680    13920        0  13920     1740  15660
9   1560    15480      180  15660     1500  17160
10  1560    17040      120  17160     1260  18420
11  1800    18840        0  18840     1500  20340
12  1800    20640        0  20640     1080  21720
13  1440    22080        0  22080     1140  23220
14  1740    23820        0  23820     1560  25380
15  1200    25020      360  25380     1500  26880
16  1560    26580      300  26880     1740  28620
17  1800    28380      240  28620     1500  30120
18  1560    29940      180  30120     1500  31620
19  1440    31380      240  31620     1920  33540
20  1320    32700      840  33540     1380  34920
21  1440    34140      780  34920     1620  36540
22  1500    35640      900  36540     1620  38160
23  1560    37200      960  38160      780  38940
24  1740    38940        0  38940     1560  40500

In [176]:
df2

     Time Customer Activity
0    1440        0   ARRIVE
1    2640        0    LEAVE
2    3180        1   ARRIVE
3    4800        2   ARRIVE
4    4800        1    LEAVE
5    6060        3   ARRIVE
6    6120        2    LEAVE
7    7440        4   ARRIVE
8    7560        3    LEAVE
9    8640        4    LEAVE
10   9000        5   ARRIVE
11  10200        6   ARRIVE
12  10680        5    LEAVE
13  11700        6    LEAVE
14  12240        7   ARRIVE
15  13620        7    LEAVE
16  13920        8   ARRIVE
17  15480        9   ARRIVE
18  15660        8    LEAVE
19  17040       10   ARRIVE
20  17160        9    LEAVE
21  18420       10    LEAVE
22  18840       11   ARRIVE
23  20340       11    LEAVE
24  20640       12   ARRIVE
25  21720       12    LEAVE
26  22080       13   ARRIVE
27  23220       13    LEAVE
28  23820       14   ARRIVE
29  25020       15   ARRIVE
30  25380       14    LEAVE
31  26580       16   ARRIVE
32  26880       15    LEAVE
33  28380       17   ARRIVE
34  28620       16    LEAVE
35  29940       18   ARRIVE
36  30120       17    LEAVE
37  31380       19   ARRIVE
38  31620       18    LEAVE
39  32700       20   ARRIVE
40  33540       19    LEAVE
41  34140       21   ARRIVE
42  34920       20    LEAVE
43  35640       22   ARRIVE
44  36540       21    LEAVE
45  37200       23   ARRIVE
46  38160       22    LEAVE
47  38940       24   ARRIVE
48  38940       23    LEAVE
49  40500       24    LEAVE

        0   1       2
0    1440   0  ARRIVE
1    3060   0   LEAVE
2    3300   1  ARRIVE
3    4680   1   LEAVE
4    4680   2  ARRIVE
5    6060   3  ARRIVE
6    6180   2   LEAVE
7    7560   3   LEAVE
8    7860   4  ARRIVE
9    9300   5  ARRIVE
10   9660   4   LEAVE
11  10800   6  ARRIVE
12  10980   5   LEAVE
13  12120   7  ARRIVE
14  12480   6   LEAVE
15  13380   8  ARRIVE
16  13740   7   LEAVE
17  14820   9  ARRIVE
18  15540   8   LEAVE
19  16200  10  ARRIVE
20  17040   9   LEAVE
21  18180  11  ARRIVE
22  18480  10   LEAVE
23  19680  12  ARRIVE
24  20340  11   LEAVE
25  21000  13  ARRIVE
26  21540  12   LEAVE
27  22560  13   LEAVE
28  22740  14  ARRIVE
29  24120  15  ARRIVE
30  24360  14   LEAVE
31  25560  16  ARRIVE
32  25620  15   LEAVE
33  26700  17  ARRIVE
34  26940  16   LEAVE
35  27960  17   LEAVE
36  28080  18  ARRIVE
37  29400  18   LEAVE
38  29520  19  ARRIVE
39  30720  19   LEAVE
40  30960  20  ARRIVE
41  31620  20   LEAVE
42  32160  21  ARRIVE
43  33420  21   LEAVE
44  33660  22  ARRIVE
45  34740  22   LEAVE
46  35160  23  ARRIVE
47  36540  23   LEAVE
48  36660  24  ARRIVE
49  37320  24   LEAVE