## Single Server Queue Simulation

### Import library

In [1]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd

### Initialization the functions

In [109]:
class QueueSim:
    def __init__(self, next_time, serv_time, total_cust):
        self.next_time = next_time
        self.serv_time = serv_time
        self.tot_cust = total_cust
        self.arr_time = np.zeros(total_cust, dtype=int)
        self.start_serv = np.zeros(total_cust, dtype=int)
        self.end_serv = np.zeros(total_cust, dtype=int)
        self.waiting_time = np.zeros(total_cust, dtype=int)
        
    def simulation(self):
        for i in range(self.tot_cust):
            #arriveList[i] = dt.datetime.fromtimestamp(time).strftime('%H:%M')

            self.arr_time[i] = self.arr_time[i - 1] + self.next_time[i]
            self.start_serv[i] = max(self.arr_time[i], self.end_serv[i - 1])
            self.end_serv[i] = self.start_serv[i] + self.serv_time[i]
        
        self.waiting_time = self.start_serv - self.arr_time
        
    def simulation_table(self):
        df = pd.DataFrame([queue1.next_time, queue1.arr_time, queue1.waiting_time,
                           queue1.start_serv, queue1.serv_time, queue1.end_serv]).T
        df.columns = ['Next', 'Arrival', 'Waiting', 'Start', 'Service', 'End']
        return df

### Simulation

In [122]:
target_cust = 25
next_arr_time = np.random.normal(25, 3, target_cust).astype(int) * 60
service_time = np.random.normal(23, 5, target_cust).astype(int) * 60

queue1 = QueueSim(next_arr_time, service_time, target_cust)
queue1.simulation()
queue1.simulation_table()

    Next  Arrival  Waiting  Start  Service    End
0   1380     1380        0   1380     1200   2580
1   1560     2940        0   2940     1560   4500
2   1620     4560        0   4560     2100   6660
3   1620     6180      480   6660     1560   8220
4   1620     7800      420   8220     1800  10020
5   1500     9300      720  10020     1020  11040
6   1320    10620      420  11040     1560  12600
7   1500    12120      480  12600      900  13500
8   1680    13800        0  13800     1560  15360
9   1320    15120      240  15360     1320  16680
10  1500    16620       60  16680     1140  17820
11  1800    18420        0  18420     1080  19500
12  1440    19860        0  19860     2100  21960
13  1020    20880     1080  21960     1320  23280
14  1860    22740      540  23280     1380  24660
15  1320    24060      600  24660     1740  26400
16  1260    25320     1080  26400     1200  27600
17  1680    27000      600  27600      900  28500
18  1380    28380      120  28500     1680  30180
19  1440    29820      360  30180     1740  31920
20  1620    31440      480  31920     1740  33660
21  1620    33060      600  33660     1500  35160
22  1380    34440      720  35160     1380  36540
23  1560    36000      540  36540     1500  38040
24  1320    37320      720  38040     1800  39840